.idea
app/cache/*.php
app/cache/*.dat
app/cache/mbki/*.zip
app/cache/pvbki/*.zip
app/cache/mpdf/*.php
app/cache/mpdf/*.dat
app/cache/mpdf/fonts/*.php
app/cache/mpdf/fonts/*.dat
app/migration/dump/*
app/logs/*.log
app/config/params.php
vendor
public/components
public/bower_components
node_modules
public/static
public/sitemap.xml
/.env
/app/migration/phinx.yml
/scripts_rev
version
composer.phar
